.container-fluid {
    margin: 10px 0px;
    padding: 10px 20px;
}

.btn-nova-reserva {
    border: none;
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 12px;
    background: #183884;
    color: #FFF;
}

.input-group {
    width: 300px;
}