<app-barra-de-navegacao-component></app-barra-de-navegacao-component>

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h4 class="titulo-pagina">Pagina Instrutores</h4>
        <button class="btn-nova-reserva" (click)="abrirModal(template)">Novo instrutor</button>
    </div>

    <div class="container-body">
        <form class="form" action="">
            <div class="input-group mt-3">
                <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        <!-- Button to clear selection -->
        <button (click)="clearSelection()">Clear Selection</button>
        
        <!-- AG Grid Angular Component -->
        <ag-grid-angular
            style="width: 100%; height: 100%"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData$ | async"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            (cellClicked)="onCellClicked($event)"
        >
        </ag-grid-angular>
    </div>
</div>

<ng-template #template>
    <app-modal-cadastrar-instrutor></app-modal-cadastrar-instrutor>
</ng-template>